body{
background-color: rgb(247, 252, 247);
color:black;
}
header{
    margin:50px ;
    background-color: rgb(241, 241, 245);
    text-size-adjust: 75px;
    justify-content: center;
}
section{
background-color: rgb(244, 250, 250);
margin: 50px;
display: flex;
padding-top: 150px;
padding-bottom: 150px;
}



