body{
background-color: rgb(13, 14, 13);
color:black;
}
header{
    margin:50px ;
    background-color: rgb(241, 241, 245);
    text-size-adjust: 75px;
    justify-content: center;
}
section{
background-color: rgb(244, 250, 250);
margin: 50px;
display: flex;
padding-top: 80px;
padding-bottom: 80px;
}



