body{
background-color: rgb(117, 211, 180);
color:black;
}
header{
    margin:50px ;
    background-color: blue;
    text-size-adjust: 75px;
    justify-content: center;
}
section{
background-color: rgb(47, 102, 150);
margin: 50px;
display: flex;
padding-top: 80px;
}



